    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background: #f4f6f9;
    }

    h1 {
      text-align: center;
      color: #333;
    }
    h3{
        text-align: center;
    }

    .container {
      max-width: 700px;
      margin: auto;
      background: #fff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .section {
      margin-bottom: 25px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    input, select, button {
      width: 100%;
      padding: 8px;
      margin-bottom: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    button {
      background: #4caf50;
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
    }

    button:hover {
      background: #45a049;
    }

    .summary {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }

    .summary div {
      flex: 1;
      background: #f1f1f1;
      padding: 15px;
      margin: 5px;
      border-radius: 8px;
      font-weight: bold;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 15px;
    }

    table, th, td {
      border: 1px solid #ccc;
    }

    th, td {
      padding: 10px;
      text-align: center;
    }

    .delete-btn {
      background: red;
      color: white;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .progress {
      background: #ddd;
      border-radius: 10px;
      overflow: hidden;
      margin-top: 10px;
    }

    .progress-bar {
      height: 20px;
      background: #4caf50;
      width: 0%;
      text-align: center;
      color: white;
      font-size: 12px;
    }
